* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration:none;
    color: black
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 233, 228);
}


#header{
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    padding: 0px 20px;
    background-color: rgb(110, 110, 248);
    position: fixed;
}

.logo {
    width: 50vw;
}

.logo > img {
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav > ul {
    width: 35vw;
    display: flex;
    color: black;
    justify-content: space-around;
    flex-direction: row;
    font-size: 15px;
}

@media (max-width: 575px) {
    #header{
        flex-direction: column;
        padding: 20px 0px;
        margin: 0;
    }
    nav > ul {
        flex-direction: column;
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    margin-top: 70px;
}

#home > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#home input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
  
#home input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #880707;
    color: antiquewhite;
    font-weight: 700;
    font-size: 15px;
}

#feature-section {
    height: 150px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.feature-element{
    width: 100%;
    margin-left: 250px;
    padding: 25px 0px;
}